* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
  background-color: wheat;
}
body {
  position: relative;
  left: 25%;
  top: 10vh;
  width: 50%;
  height: 80vh;
  border: 1px dotted whitesmoke;
  border-radius: 10px;
  background-color: wheat;
}
form {
  background-color: wheat;
  margin: 0 10%;
  width: 80%;
  margin-top: 10%;
}
.input {
  background-color: whitesmoke;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 10px;
}

p,
h3 {
  text-align: center;
  background-color: wheat;
}
#gender {
  background-color: whitesmoke;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
}
#color {
  height: 20px;
  padding: 0;
}
label {
  background-color: wheat;
}
a{
    background-color: inherit;
    text-decoration: none;
    }
#btn {
  position: relative;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.7);
  color: gray;
  left: 10%;
  font-style: oblique;
  font-weight: bold;
  margin: auto;
}
div{
    margin-top: 45%;
}





#btn:hover{
    background-color: gold;
    color: gray;}

#btn:active{
    background-color: rgba(255, 217, 0, 0.5) ;
}
a:visited{
    color: brown;
}
input:hover{
    background-color: rgba(245, 245, 245, 0.596);
}